# Database
# DEVELOPMENT: postgresql://usuario:password@localhost:5432/digital_wallet?schema=public
# PRODUCTION (Docker): postgresql://wallet_user:wallet_pass@wallet-db:5432/digital_wallet?schema=public
DATABASE_URL="postgresql://wallet_user:wallet_pass@wallet-db:5432/digital_wallet?schema=public"

# JWT Configuration
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"
JWT_EXPIRES_IN="7d"

# Cookie Configuration
COOKIE_SECRET="your-super-secret-cookie-key-change-this-in-production"

# Application
# DEVELOPMENT: 3007
# PRODUCTION (Docker): 3000
PORT=3000
NODE_ENV="production"

# CORS
# DEVELOPMENT: http://localhost:3000
# PRODUCTION (Docker): http://stamps-dezik:3000 o el nombre del contenedor del frontend
FRONTEND_URL="http://stamps-dezik:3000"
